
@{
    ViewBag.Title = "Links";
}

<h2>@ViewBag.Title</h2>

<ul>
    <li><a href="#">test</a></li>
    <li><a href="#">test</a></li>
    <li><a href="#">test</a></li>
    <li><a href="#">test</a></li>
    <li><a href="#">test</a></li>
</ul>

