@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

</div>
<div class="container body-content">
<div class="row">
<div class="col-md-8 col-md-push-2">
<form>
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">

    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">

    <textarea class="form-control" rows="3"></textarea>
    
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
</div>
