@{
    ViewBag.Title = "Home Page";


}

<div class="jumbotron">

</div>
<div class="container body-content">
  <div class="row">
    <div class="col-md-8 col-md-push-2">
      <h2>Get in Touch</h2>
      <p>If you have any questions or comments, we&#39;d love to hear from you. Just fill out the form below and we&#39;ll get back to you soon. Rest assured that any information you provide will remain confidential.</p>


      <form id="contactForm" action='' method='post'>

        <div class="input-group">
          <input required name="name" type="text" class="form-control" id="firstName" placeholder="First Name" value="@Request["name"]">
          <div class="input-group-addon">*</div>
        </div>

        <div class="input-group">
          <input required name="email" type="email" class="form-control" id="Email" placeholder="Email" value="@Request["email"]" >
          <div class="input-group-addon">*</div>
        </div>

        <div class="input-group">
          <input required name="subject" class="form-control" placeholder="Subject"></input>
          <div class="input-group-addon">*</div>
        </div>

        <div class="input-group">
          <textarea required name="message" id='userMessage' class="form-control" rows="4" placeholder="Message"></textarea>
          <div class="input-group-addon">*</div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

      </form>
    </div>
  </div>
</div>
  <div class="row">
    <div class='location'>
      <div class='col-md-6 addy'>
        <div class='col-md-7 col-md-offset-5 expand-height'>
          <div class="vertically-center">
          <h2>Our Location</h2>
          <ul>
            <li><p>Example Site</p></li>
            <li><p>2500 Technology Dr</p></li>
            <li><p>Louisville, KY 40299</p></li>
            <li><p class='link'>www.examplesite.com</p></li>
          </ul>
          <h3>Call Us</h3>
          <ul>
            <li><p>Louisville: 555-555-5555</p></li>
            <li><p>San Antonio: 555-555-5555</p></li>
            <li><p>Toll Free: 800-585-5555</p></li>
          </ul>
          <span><i class="fa fa-facebook" aria-hidden="true"></i></span>
          </div>
        </div>
      </div>
      <div class='col-md-6 map link' style="background:url('https://maps.googleapis.com/maps/api/staticmap?center=2500TechnologyDr, Louisville,KY40299&zoom=15&size=1200x800&markers=color:red|38.210247,-85.547809&key=AIzaSyB1OehJeYBTViiY-xdUCG7-pQGq0LA9Tew') no-repeat center center; background-size:cover;">
      </div>
    </div>
  </div>
