@{
    ViewBag.Title = "Home Page";
}
@using System.Net.Mail;
@{
    if (IsPost)
    {
        var email = Request["email"];
        var subject = Request["subject"];
        var message = Request["message"];
        using (var client = new SmtpClient())
        {
             var msg = new MailMessage();
             msg.To.Add(email);
             msg.Subject = subject;
             msg.Body = message;
             client.Send(msg);
             <text>The email has been successfully sent</text>
         }
     }
}
<!--

    I wanted to wrap this whole project up in a tidy little bow by having it email you its contents, but after fumbling around on google, asp.net, and stack overflow, I've realized that form submission in Razor and visual studio will take me a little longer to learn on my own than may be reasonable for this small exercise. The above code is as far as I ever got and I was never even sure if I was starting in the right place. So for consolation: here's how I'd have done it if this were a PHP document!

<?php
if($_POST["submit"]) {
    $recipient="carterdanielr@gmail.com, $senderEmail";
    $subject="Contact Message from Example Site";
    $sender=$_POST["name"];
    $senderEmail=$_POST["email"];
    $message=$_POST["message"];
    $mailBody="Name: $sender\nEmail: $senderEmail\n\n$message";

    mail($recipient, $subject, $mailBody, "From: $sender <contact@examplesite.com>");
}
?>
-->

<!-- comments and stylings found in sass/screen.scss file. custom js comments can be found in their respective files -->

<a href="#contact"><div class="jumbotron" title="Header Image of a Smiling Female Nurse">

</div></a>
<div class="container body-content">
  <div class="row">
    <div class="col-md-8 col-md-push-2">
      <h2 id="contact">Get in Touch</h2>
      <p>If you have any questions or comments, we&#39;d love to hear from you. Just fill out the form below and we&#39;ll get back to you soon. Rest assured that any information you provide will remain confidential.</p>


      <form id="contactForm" action='' method='post'>

        <div class="form-group">
          <div class="input-group">
          <input name="name" type="text" class="form-control" placeholder="First Name" />
          <div class="input-group-addon">*</div>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <input name="email" type="email" class="form-control" id="Email" placeholder="Email" >
            <div class="input-group-addon">*</div>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
          <input name="subject" class="form-control" placeholder="Subject" ></input>
          <div class="input-group-addon">*</div>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
          <textarea name="message" id='userMessage' class="form-control" rows="4" placeholder="Message"></textarea>
          <div class="input-group-addon">*</div>
          </div>
        </div>

        <button type="submit" name="send" class="btn btn-primary">Submit</button>

      </form>
    </div>
  </div>
</div>
  <div class="row">
    <div class='location'>
      <div class='col-md-6 addy'>
        <div class='col-md-7 col-md-offset-5 expand-height'>
          <div class="vertically-center">
          <h2>Our Location</h2>
          <ul>
            <li><p>Example Site</p></li>
            <li><p>2500 Technology Dr</p></li>
            <li><p>Louisville, KY 40299</p></li>
            <li><a target="_blank" href="http://www.leapagency.com/" class='link'><p>www.examplesite.com</p></a></li>
          </ul>
          <h3>Call Us</h3>
          <ul>
            <li><p>Louisville: 555-555-5555</p></li>
            <li><p>San Antonio: 555-555-5555</p></li>
            <li><p>Toll Free: 800-585-5555</p></li>
          </ul>
          <a class="link" target="_blank" href="https://www.facebook.com/LEAPagencylife/"><span><i title="facebook link" class="fa fa-facebook" aria-hidden="true"></i></span></a>
          </div>
        </div>
      </div>
      <a target="_blank" href="https://www.google.com/maps/place/Technology+Dr,+Jeffersontown,+KY+40299"><div title="Google Maps Image to Example Site Location" id="location" class='col-md-6 map link' style="background:url('https://maps.googleapis.com/maps/api/staticmap?center=2500TechnologyDr, Louisville,KY40299&zoom=15&size=1200x800&markers=color:red|38.210247,-85.547809&key=AIzaSyB1OehJeYBTViiY-xdUCG7-pQGq0LA9Tew') no-repeat center center; background-size:cover;">
      </div></a>
    </div>
  </div>
