//I've made some variations to the comp, but only where I consider improvements to symmetry to be possible. These changes will be commented here in the SASS sheet

@import "compass/css3/box-shadow";
@import "compass/typography/links/unstyled-link";
@import "compass/css3/transition";


$nav-dark :  adjust-lightness(black, 20%);
$nav-font :  #373737;
$blue     :  #0081b1;
$purple   :  #191d21;

body {
  @media screen and (min-width:768px) {
    padding-top:120px;
  }
  padding-bottom:0;
}
.nav-pills > li.active > a, .btn-primary {
  &:hover {
  background:$blue;
  }
  background:$blue;
}

a {
  @include unstyled-link;
  &:hover {
    cursor:pointer;
    text-decoation:none;
  }
  &:visted {
    color:initial;
    background:initial;
    text-decoation:none;
  }
  &:focus {
    color:initial;
    background:initial;
    text-decoation:none;
  }
  &:active {
    color:initial;
    background:initial;
    text-decoation:none;
  }
}
.navbar-default .navbar-nav > li > a {
    color:$nav-dark;
    text-transform:uppercase;
}
.navbar-default {
  border:none;
  background:white;
  @media screen and (min-width:768px) {
    height:120px;
  }
}
.navbar-brand, .navbar-right, .navbar-right.nav-pills {
  //This is my initial divergence, but I just feel very strongly about navs being vertically aligned along the same central horizon in their parent div. I'm doing that here by pushing these elements in bootstrap's navbar down by half of the parent div's height using margin-top (120/2 = 60) and then transform:translating them up half of their own individual heights. Transform is a favorite CSS property of mine, you will see it over and over.
  @media screen and (min-width:768px) {
    margin-left:45px;
    margin-top: 60px;
    transform: translateY(-50%);
  }
}
.navbar-right {
  font-weight:bold;
  color:$nav-font;
  @media screen and (max-width:1060px) and (min-width:768px){
    .navbar-nav li a {
      padding:10px 10px;
    }
    margin-left:45px;
    margin-top: 30px;
    transform: translateY(-50%) scale(.9);
  }
}
.navbar-right.nav-pills {
  @media screen and (max-width:1060px) and (min-width:768px){
    position:absolute;
    bottom:1rem;
    right:4rem;
    transform:translateY(-15%);
  }
  @media screen and (max-width:768px){
    margin:2rem 0 0;
  }
}
.navbar-right{
  margin-left:0;
}
.navbar-collapse {
  @media screen and (min-width:768px) {
  padding-right:0;
  }
}
.navbar-header {
    @media screen and (min-width:768px) {
      margin-left:5rem !important;
}
  @media screen and (max-width:1025px) and (min-width:768px){
    margin-left:3rem !important;
  }
}
.navbar .container {
  @media screen and (max-width:1200px){
    max-width:100%;
    width:100%;
  }
}
.navbar-brand {
  height:50px;
  border-radius:10px;
  color:white !important;
  background-color: $blue;
  border-color: $blue;
  &:hover {
    color:white !important;
    background-color: $blue !important;
    border-color: $blue !important;
  }
  @media screen and (max-width:768px) {
    background:transparent;
    color:$blue !important;
    &:hover{
      background:transparent !important;
      color:$blue !important;
    }
  }
}

.fa {
  font-size:24px;
}

#facebook {
  padding:9px 15px;
  margin-right:1rem;
  overflow:hidden;
  border:2px solid adjust-lightness($nav-dark, 20%);
  border-radius:100%;
  color: adjust-lightness($nav-dark, 20%);
  @media screen and (min-width:768px) {
    margin-right:14px;
  }
  &:hover {
    cursor:pointer;
    a {
      color:white;
      background:$blue;
      &:hover {
        color:white;
        background:$blue;
      }
    }
    background:$blue;
    border:2px solid $blue;
  }
  a {
  padding:0;
  color: adjust-lightness($nav-dark, 20%);
  transform:translate(0px, 1px) scale(1.7);// getting nitty-gritty on this facebook icon size and positioning. I hope my designer buys me a beer this weekend!
  background:transparent;
  }
}
.nav > li > a:hover, .nav > li > a:focus {
  background:transparent; //go away bootstrap styles
}

#number {
  height:40px;
  border-radius:30px;
  overflow:hidden;
  a {
    height:100%;
  }
}

.fa-phone {
  margin-right:8px;
}

.jumbotron {
  &:hover {
    cursor:pointer;
  }
  background:url('images/helloNurse.jpg') no-repeat; //I found a higher res version of the image provided in the comp and swapped it out. The photogrpher in me refuses to cut the tops of the heads off of people.
  background-position:left top;
  background-size:cover;
  height:400px; // maintaining the mackup's original 400px height where I can, but only until wider screen sizes demand more vertical clearance. I hope my designer understands, we can talk about it otherwise ¯\_(ツ)_/¯
  @media screen and (min-width:1280px) {
    height:550px;
  }
  @media screen and (orientation:portrait){
    background-position:30% top;
  }
}

input, select, textarea {
  max-width:100%;
}
.form-control {
  @include box-shadow(none);
  border-right:none;
  height:59px;
}
form {
  margin: 80px 0 200px;
}
form .btn-primary {
  margin-top:40px;
  text-transform:uppercase;
  width:100%;
  border-radius:50px;
  height:50px;
  font-weight:bold;
}

.form-group,  {
  margin-bottom:30px;
  .glyphicon {
    //display:none !important;
    position:absolute;
    top:50% !important;
    transform:translateY(-50%);
    right:16px;
    color:inherit;
  }
  .input-group-addon, .form-group-addon{
    //color:#ccc;
    vertical-align:top;
    padding:25px 12px 0;
    background:transparent;
    border-left:none;
    font-size:20px;
    box-sahdow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
}

.has-success { //set up some styles for validation states
  .input-group{
    width:100%;
  }
  .input-group-addon {
    display:none;
  }
  .form-control:first-child { //after the input-group-addon element is collapsed, we have to re-establish the 100% .input-group width and put our borders and radiuses back up on the right sides of the .form-control element
    box-shadow:none;
    border-right:1px solid #468847;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .glyphicon {
    color:#468847; //give our glyphicons matching colors to validation state
  }
}

.has-error {
  .input-group{
    width:100%;
  }
  .input-group-addon {
    display:none;
  }
  .form-control:first-child { //after the input-group-addon element is collapsed, we have to re-establish the 100% .input-group width and put our borders and radiuses back up on the right sides of the .form-control element
    box-shadow:none;
    border-right:1px solid #b94a48;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .glyphicon {
    color:#b94a48; //give our glyphicons matching colors to validation state
  }
}

.form-control:focus { //adding the blue highlight border-right on focus
  border-right:1px solid #cccccc;
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

input::-ms-clear {
  display:none; //get those gaudy 'X-to-clear-field' buttons out of here IE!
}

#userMessage {
  min-height:240px;
  padding-top:18px;
}

.body-content h2 {
  text-align:center;
  margin:130px 0 40px;
  @media screen and (max-width:1060px){
    margin: 65px 0 40px;
  }
}

p {
  text-align:center;
  font-size:16px;
}
.row {
  margin:0;
}
.link {
  &:hover {
    cursor:pointer;
    color:white;
    text-decoration:none;
  }
  &:focus {
    cursor:pointer;
    color:white;
    text-decoration:none;
  }
  &:visited {
    cursor:pointer;
    color:white;
    text-decoration:none;
  }
}
.map, .addy {
  height:540px;
}
.addy {
  background:$blue;
  text-align:center;
  color:white;
  h2{
    margin-bottom:35px;
  }
  h3 {
    margin-bottom:25px;
    margin-top:40px;
  }
  span {
    border-radius:100%;
    border:2px solid white;
    padding:12px 16px;
    &:hover {
      cursor:pointer;
      background:white;
      .fa-facebook {
        color:$blue;
      }
    }
  }
  .fa-facebook {
      margin-top:25px;
      transform:translate(-.5px, 1px) scale(1.7);
  }
}

.expand-height {
  height:100%;
}
.vertically-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  @media screen and (max-width:992px){
    left:0;
    right:0;
  }
}
ul {
  list-style:none;
  padding:0;
}
.map {
 background:url('images/map.jpg') no-repeat center center; //Fallback in case google API acts wonky.
 background-position:center center;
 background-size:cover;
}

footer {
  position:relative;
  display:table;
  width:100%;
  height:160px;
  background:$purple;
  color:white;
  nav {
    width:100%;
    display:table-cell;
    vertical-align:middle;
  }
  @media screen and (max-width:768px) {
  padding:2rem;
  }
}
footer nav ul li a:active, footer nav ul li a:focus, footer nav ul li a:hover {
color:white;
text-decoration:none;
}
nav ul {
  display:block;
  text-align:center;
  li {
    display:inline-block;
    padding:10px 25px;
    &:hover {
      cursor:pointer;
    }
    @media screen and (max-width:768px) {
      width: 49%;
      padding: 20px 0;
    }
  }
}

.top-nav {
  text-transform:uppercase;
}
.bottom-nav li {
  @media screen and (min-width:767px) {
  }
}

.success {
  color:$blue;
  font-weight:bold;
  font-size:18px;
  text-align:center;
  @include transition(transform .7s);
}


//custom toggle nav classes paired to navScroll.js file
.shrink {
    box-shadow:0px 2px 6px #ababab;
    @media screen and (min-width:1060px){
    box-shadow:0px 2px 6px #ababab;
    height:60px;
    @include transition(all .3s );
  }
  .navbar-brand, .navbar-right, .navbar-right.nav-pills {
      @media screen and (min-width:1060px){
      margin-top:30px;
      @include transition(all .3s );
    }
  }
}

.grow {
  @media screen and (min-width:1060px){
  height:120px;
  @include transition(all .2s );
}
.navbar-brand, .navbar-right, .navbar-right.nav-pills {
    @media screen and (min-width:1060px){
    margin-top:60px;
    @include transition(all .2s );
  }
}
}
